/**
 * Usage:

  $sprite: '../img/sprites'; // 生成样式路由
  $designWidth: // 需要rem时使用，设计稿大小，默认为iphone6的值：750
  $designDpr: // 设计稿所针对的屏幕的dpr，默认为iphone6的值：2
  @import './sprites/test';
  .test {
    @include sprite-test(link-cf);
  }
  .test2 {
    @include sprite-rem-test(link-cf);
  }
  .test3 {
    @include px(width, contentWidthInPsd); //根据设计稿切片宽度设置rem
  }

 */
$instance-value: (0px, 0px, 0px, 0px, 13px, 13px, 13px, 13px, 'instance.png', 'value', );

$instance-sprites: (
  value:$instance-value,
);

// 路径
$sprite: '../img/sprites' !default;
%instance.png{
  background-image: url('#{$sprite}/instance.png');
  background-repeat: no-repeat;
}

@mixin sprite-instance($dir){
  @extend %instance.png;
  $temp: $instance-sprites;
  $temp-item: map-get($temp, $dir);
  width: nth($temp-item, 5);
  height: nth($temp-item, 6);
  background-position: nth($temp-item, 3) nth($temp-item, 4);
}

// 移动端采用rem作为单位还原设计稿时所用
$baseFontSize: 50px !default;
$designWidth: 750px !default;
$designDpr: 2!default;
$sprite: '../img/sprites' !default;
%instance.png-rem{
  // background-size: 13px/$baseFontSize*1rem auto;
  background-size: 13px/($designWidth/$designDpr/10rem) auto;
}
@mixin px($name, $px) {
  #{$name}: $px/($designWidth/10rem);
}
// 去单位
@function strip-units($number) {
  @return $number / ($number * 0 + 1); //后面的 $number*0 为了取单位，例如 100rem * 0 + 1 = 1rem;
}
@mixin sprite-rem-instance($dir){
  $temp: $instance-sprites;
  $temp-item: map-get($temp, $dir);
  @extend %instance.png;
  @extend %instance.png-rem;
  // width: nth($temp-item, 5)/$baseFontSize*1rem; //目标图片宽度
  // height: nth($temp-item, 6)/$baseFontSize*1rem; //目标图片高度
  // background-position: nth($temp-item, 3)/$baseFontSize*1rem nth($temp-item, 4)/$baseFontSize*1rem;

  width: nth($temp-item, 5)/($designWidth/$designDpr/10rem); //目标图片宽度
  height: nth($temp-item, 6)/($designWidth/$designDpr/10rem); //目标图片高度
  background-position: nth($temp-item, 3)/($designWidth/$designDpr/10rem) nth($temp-item, 4)/($designWidth/$designDpr/10rem);
}

// @inclue sprite-DIR_NAME(PIC_NAME);
